@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #04146c;
}
main{
    width: 50%;
    text-align: center;
    margin: auto;
}

h1{
    font-size: 88px;
    font-weight: 900;
}
h2{
    font-size: 38px;
    color: white;
    font-weight: 400;
    background-color: #04146c;
}
h3{
    font-size: 26px;
    font-weight: 400;
}
strong{
    font-weight: 700;
}

p{
    font-weight: 400;
    font-size: 24px;
    background-color: #edf7ff;
}
div{
    width: 90%;
    margin: auto;
}

img{
    width: 600px;
}