@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


h1, p{
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1;

}

h1{
    font-size: 78px;
    font-weight: 700;
    margin-bottom: 0;
}
p{
    font-size: 30px;
    font-weight: 500;
}

strong{
    background-color: #3ffff3;
}

img{
    background-image: url(/img/fondo.JPG);
    width: 400px;
    padding-top: 5rem;
}

div{
    width: 60%;
}