@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #0a2ff1;
}
p{
    font-size: 32px;
    font-weight: 300;
}
strong{
    font-weight: 700;
}
img {
    width:100px;
    vertical-align: middle;
    margin-left: 30px;
}

div{
    margin: auto;
    width: 100%;
}